<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OL4RENTConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=OL4RENT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ModelContainer" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=OL4RENT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="servicebehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="OL4RENTServices.ServiceMobile"
               behaviorConfiguration="servicebehavior"  >
        <endpoint name="SOAPEndPoint"
                  contract="OL4RENTServices.IServiceMobile"
                  binding="basicHttpBinding"
                  address="soap"  />
        <endpoint name="RESTEndPoint"
                  contract="OL4RENTServices.IServiceMobile"
                  binding="webHttpBinding"
                  address="rest"
                  behaviorConfiguration="restbehavior" />
        <endpoint contract="IMetadataExchange"
                  binding="mexHttpBinding"
                  address="mex" />
      </service>
      <service name="OL4RENTServices.NovedadesService"
               behaviorConfiguration="servicebehavior"  >
        <endpoint name="NovedadesSOAPEndPoint"
          contract="OL4RENTServices.INovedadesService"
          binding="basicHttpBinding"
          address="soap"  />
        <endpoint name="NovedadesRESTEndPoint"
                  contract="OL4RENTServices.INovedadesService"
                  binding="webHttpBinding"
                  address="rest"
                  behaviorConfiguration="restbehavior" />
        <endpoint contract="IMetadataExchange"
                  binding="mexHttpBinding"
                  address="mex" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


</configuration>