<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OL4RENTConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=OL4RENT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="servicebehavior" >
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="OL4RENTServices.ServiceMobile"
               behaviorConfiguration="servicebehavior"  >
        <endpoint name="SOAPEndPoint"
                  contract="OL4RENTServices.IServiceMobile"
                  binding="basicHttpBinding"
                  address="soap"  />
        <endpoint name="RESTEndPoint"
                  contract="OL4RENTServices.IServiceMobile"
                  binding="webHttpBinding"
                  address="rest"
                  behaviorConfiguration="restbehavior" />
        <endpoint contract="IMetadataExchange"
                  binding="mexHttpBinding"
                  address="mex" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


</configuration>