@model IEnumerable<Ol4RentAPI.DTO.BienListadoDTO>

@{
    ViewBag.Title = "Buscar";
}
<h2>Resultados de la búsqueda</h2>
@if(Model.Count() > 0) {
<ul>
@foreach (var item in Model) {
    <li>
        <div>
            @Html.ActionLink(item.Titulo, "Details", "Bien", new { id=item.Id }, null)
            @if (item.MostrarMeGusta)
            {
            <input type="button" value="Me Gusta" id="like-@item.Id" onclick="javascript: like(@item.Id);" />
            }
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </div>
    </li>
}
</ul>
}
else {
<p>No existen resultados para su búsqueda</p>
}
@section Scripts {
    @Scripts.Render("~/Scripts/meGusta.js")
}

