@model List<OL4RENT.Models.Bien>

@{
    ViewBag.Title = "Buscar";
}

<h2>Resultados de la búsqueda</h2>
<ul>
@foreach (var item in Model) {
    <li>
        <div>
            @Html.ActionLink(item.Nombre, "Details", "Bien", new { id=item.Id }, null)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </div>
    </li>
}
</ul>
