@model IEnumerable<Ol4RentAPI.DTO.BienListadoDTO>
@using Ol4RentAPI.DTO;
@{SitioListadoDTO sitio = (SitioListadoDTO)@Session["sitio"];}

@{
    String nombreTipoBien = "Bien";
    if (sitio != null)
    {
        nombreTipoBien = @sitio.NombreTipoBien.Trim();
    }
    String plural = nombreTipoBien.ToLower().EndsWith("a") || nombreTipoBien.ToLower().EndsWith("e") ||
        nombreTipoBien.ToLower().EndsWith("i") || nombreTipoBien.ToLower().EndsWith("o") ||
        nombreTipoBien.ToLower().EndsWith("u") ? "s" : "es";
    ViewBag.Title = "Mis "+nombreTipoBien+plural;
}

<h2>Mis @nombreTipoBien@plural</h2>
<ul>
@foreach (var item in Model) {
    <li>
        <div>
            @Html.ActionLink(item.Titulo, "Details", "Bien", new { id=item.Id }, null)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </div>
    </li>
}
</ul>

<div>
    @Html.ActionLink("Principal", "Index","Home")
</div>