@model IEnumerable<Ol4RentAPI.Model.Bien>
@{
    ViewBag.Title = "Mis Bienes";
}

<h2>Mis Bienes</h2>
<ul>
@foreach (var item in Model) {
    <li>
        <div>
            @Html.ActionLink(item.Titulo, "Details", "Bien", new { id=item.Id }, null)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </div>
    </li>
}
</ul>