@model IEnumerable<OL4RENT.Models.Bien>

@{
    ViewBag.Title = "Populares";
}
<h2>Bienes Populares</h2>
<ul>
@foreach (var item in Model) {
    <li>
        <div>
            @Html.ActionLink(item.Nombre, "Details", new { id=item.Id })
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </div>
    </li>
}
</ul>