@model IEnumerable<Ol4RentAPI.DTO.BienListadoDTO>

@{
    ViewBag.Title = "Populares";
}
<h2>Bienes Populares</h2>
<ul>
@foreach (Ol4RentAPI.DTO.BienListadoDTO item in Model) {
    <li>
        <div>
            @Html.ActionLink(item.Titulo, "Details", "Bien", new { id=item.Id }, null)
            @if (item.MostrarMeGusta)
            {
            <input type="button" value="Me Gusta" id="like-@item.Id" onclick="javascript:like(@item.Id);" />
            }
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </div>
    </li>
}
</ul>

