@model IEnumerable<Ol4RentAPI.Model.Bien>

@{
    ViewBag.Title = "Populares";
}
<h2>Bienes Populares</h2>
<ul>
@foreach (Ol4RentAPI.Model.Bien item in Model) {
    <li>
        <div>
            @Html.ActionLink(item.Titulo, "Details", "Bien", new { id=item.Id }, null)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </div>
    </li>
}
</ul>