OL4RENT/bin/*
OL4RENT/obj/*
OL4RENTBackOffice/bin/*
OL4RENTBackOffice/obj/*
Ol4RentAPI/bin/*
Ol4RentAPI/obj/*
DatosExternosDACAPI/bin/*
DatosExternosDACAPI/obj/*
OL4RENTServices/bin/*
OL4RENTServices/obj/*
*.suo
ModuloMobile/BingPrueba/Bin/*
ModuloMobile/BingPrueba/obj/*
OL4RENT/Upload/swf/*
OL4RENT/Upload/Image/*
OL4RENT/Upload/Video/swf/*
OL4RENT/Upload/Video/thumb/*