@model IEnumerable<Ol4RentAPI.DTO.EspecificacionBienListadoDTO>
@{
    ViewBag.Title = "Wishlist";
}
<div>
    @Html.ActionLink("Nuevo Wish", "Create", "Wish")
</div>
<h2>Mi Wishlist</h2>
<ul>
@foreach (var item in Model) {
    <li>
        <div>
            @Html.ActionLink(item.Titulo, "Details", "Wish", new { id=item.Id }, null)
        </div>
    </li>
}
</ul>