@model IEnumerable<Ol4RentAPI.DTO.NovedadDTO>

@{
    ViewBag.Title = "Populares";
}
<h2>Novedades</h2>
<ul>
@foreach (var item in Model) {
    <li>    
        <div>
            @Html.DisplayFor(modelItem => item.Titulo) [@Html.DisplayFor(modelItem => item.Proveedor)]
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Contenido)
        </div>
    </li>
}
</ul>