@model IEnumerable<Ol4RentAPI.DTO.NovedadDTO>

@{
    ViewBag.Title = "Populares";
}
<h2>Novedades</h2>
<ul class="listado-novedades">
@foreach (var item in Model) {
    <li>    
        <div>
            <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3><span class="detail">@Html.DisplayFor(modelItem => item.Proveedor)</span>
        </div>
        <div>
            <p>@Html.DisplayFor(modelItem => item.Contenido)</p>
        </div>
    </li>
}
</ul>