@{
    ViewBag.Title = "NovedadesTwitter";
}

<h2>Siganos en Twitter</h2>

<p>  

    @TwitterGoodies.Profile("gr6tsi1",350,300,"#F4F4F4","000000","F4F4F4","000000","000000",10,true,false,false,true,false,false,TwitterGoodies.WidgetBehaviors.All,6)
        
</p>
