@if (Request.IsAuthenticated) {
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Sitios", "Listar", "Sitio")</li>
        <li>@Html.ActionLink("Usuarios", "ListarPorSitio", "Usuario")</li>
        @if (User.IsInRole(Ol4RentAPI.Model.RolEnum.SUPER_ADMIN.ToString())) {
        <li>@Html.ActionLink("Orígenes de Datos", "Listar", "OrigenDatos")</li>
        }
        <li>@Html.ActionLink("Reportes", "Index", "Reporte")</li>
    </ul>
</nav>
}
