@if (Request.IsAuthenticated) {
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Sitios", "Listar", "Sitio")</li>
        <li>@Html.ActionLink("Usuarios", "ListarPorSitio", "Usuario")</li>
        <li>@Html.ActionLink("Orígenes de Datos", "Listar", "OrigenDatos")</li>
        <li>@Html.ActionLink("Reporte", "Index", "Reporte")</li>
    </ul>
</nav>
}
