@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ol>
    <li>
        @Html.ActionLink("Contenidos inadecuados", "ContenidosInadecuadosPorSitio", "Reporte")
    </li>
    <li>
        @Html.ActionLink("Registro de bienes en el tiempo", "RegistroDeBienesEnTiempo", "Reporte")
    </li>
</ol>
